#AllSection{
  display: flex;
    background: #454545;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0);
    padding: 20px;
    /* width: 83%; */
    max-width: 1005px;
    margin: auto;
    justify-content: space-evenly;
}
#AllImg {
display: flex;
    background: #454545;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0);
    padding: 20px;
    /* width: 83%; */
    max-width: 1005px;
    margin: auto;
    justify-content: space-evenly;



}
#AllImg1 {
display: flex;
    background: #454545;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0);
    padding: 20px;
    /* width: 83%; */
    max-width: 1005px;
    margin: auto;
    justify-content: space-evenly;



}
  .container {
  position: relative;
  width: 100%;
  max-width: 150px;
 
  }

  
  .image {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }

  
.overlay {
    
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

.container:hover .overlay {
  opacity: 1;
  }
                        


  
  .container1 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image1 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay1 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container1:hover .overlay1 {
  opacity: 1;
  }
 


  .container2 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image2 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay2 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container2:hover .overlay2 {
  opacity: 1;
  }




  .container3 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image3 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay3 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container3:hover .overlay3 {
  opacity: 1;
  }





    .container4 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image4 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay4 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container4:hover .overlay4 {
  opacity: 1;
  }


.container5 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image5 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay5 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container5:hover .overlay5 {
  opacity: 1;
  }

  .container6 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image6 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay6 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container6:hover .overlay6 {
  opacity: 1;
  }


  .container7 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image7 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay7 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container7:hover .overlay7 {
  opacity: 1;
  }

.container8 {
  position: relative;
  width: 100%;
  max-width: 135px;
  }


  .image8 {
  /*display: block;*/
  width: 100%;
  height: 210px;
  }


  .overlay8 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 10px;
  padding: 15px;
  text-align: center;
  }

  .container8:hover .overlay8 {
  opacity: 1;
  }













/* TRYING BOX WITH INSIDE IMAGE AND CONTAINER*/

.SideImg { 
    position: absolute;
    top: 64px;
    left: 16px;
    width: 182px;
    background: #454545;
    box-shadow: 3px 3px 24px 6px rgb(0 0 0);

}

@media screen and (max-width:900px) {
  .SideImg { 
    display: none;
  }
}
    
 .SideImg { 

  position: absolute;
    top: 64px;
    left: 16px;
    width: 182px;
    background: #454545;
    box-shadow: 3px 3px 24px 6px rgb(0 0 0);

}
.SideImg2 { 
    position: absolute;
    top: 64px;
    left: 1300px;
    width: 182px;
    background: #454545;
    box-shadow: 3px 3px 24px 6px rgb(0 0 0);

}

@media screen and (max-width:900px) {
  .SideImg2 { 
    display: none;
  }
}
    
 .SideImg2 { 

  position: absolute;
    top: 64px;
    left: 1300px;
    width: 182px;
    background: #454545;
    box-shadow: 3px 3px 24px 6px rgb(0 0 0);

}
.AllContent {
  position: relative;
}
